.flex_container{
justify-content: center;
align-items: center;
display: flex;
flex-wrap: wrap;
background: red;
padding: 15px;
height: 400px;
}
.flex-item{
    border: 1px solid #fff;
    padding: 25px;
    margin: 10px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}